{% extends 'base.html' %}

{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{{ url_for('file.index') }}">Home</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{{ url_for('credential.index') }}">App Credentials</a>
            </li>
            <li class="breadcrumb-item active">{{ title }}</li>
        </ol>
    </nav>
    <h1>{{ title }}</h1>
    <form method="post" enctype="multipart/form-data">
        {{ form.csrf_token }}
        <div class="mb-3 required">
            {{ form.app_name.label(class="form-label") }}
            {{ form.app_name(class="form-control") }}
            <small id="app_nameHelp" class="form-text text-muted">{{ form.app_name.description }}</small>
            {% if form.app_name.errors %}
                <div class="alert alert-danger" role="alert">
                    {% for error in form.app_name.errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <div class="mb-3 required">
            {{ form.username.label(class="form-label") }}
            {{ form.username(class="form-control") }}
            <small id="usernameHelp" class="form-text text-muted">{{ form.username.description }}</small>
            {% if form.username.errors %}
                <div class="alert alert-danger" role="alert">
                    {% for error in form.username.errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <div class="mb-3 required">
            {{ form.password.label(class="form-label") }}
            {{ form.password(class="form-control") }}
            <small id="passwordHelp" class="form-text text-muted">{{ form.password.description }}</small>
            {% if form.password.errors %}
                <div class="alert alert-danger" role="alert">
                    {% for error in form.password.errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <div class="actions">
            <input type="submit" value="{{ title }}" class="btn btn-primary">
            <a href="{{ url_for('credential.index') }}" class="btn btn-dark">Cancel</a>
        </div>
    </form>
{% endblock %}