settings.py

.DS_Store
.env
.flaskenv
*.pyc
*.pyo
env/
venv/
.venv/
env*
dist/
build/
*.egg
*.egg-info/
.tox/
.cache/
.pytest_cache/
.idea/
docs/_build/
.vscode
log
*.sql
__pycache__/
instance
.mypy_cache/

# Coverage reports
htmlcov/
.coverage
.coverage.*
*,cover