{% extends 'base.html' %}

{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{{ url_for('file.index') }}">Home</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{{ url_for('admin.admin') }}">Admin</a>
            </li>
            <li class="breadcrumb-item active">{{ title }}</li>
        </ol>
    </nav>
    <h1>{{ title }}</h1>
    <div class="row">
        {% if files|length == 0 %}
            <div class="alert alert-info" role="alert">
                No files found.
            </div>
        {% else %}
            <ul class="list-group">
                {% for file in files %}
                    <li class="list-group">
                        <a href="{{ url_for('admin.admin_files_edit', id=file.id) }}">{{ file.name }}</a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
{% endblock %}