{% extends 'base.html' %}

{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{{ url_for('file.index') }}">Home</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{{ url_for('admin.admin') }}">Admin</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{{ url_for('admin.admin_credentials') }}">App Credentials</a>
            </li>
            <li class="breadcrumb-item active">Delete App Credential</li>
        </ol>
    </nav>
    <h1>Delete App Credential</h1>
    <form method="post">
        <div class="mb-3">
            <p>Are you sure you want to delete the app credential for {{ credential.app_name }}?</p>
        </div>
        <div class="actions">
            <input type="submit" value="Delete" class="btn btn-danger">
            <a href="{{ url_for('admin.admin_credentials') }}" class="btn btn-dark">Cancel</a>
        </div>
    </form>
{% endblock %}