[Unit]
Description=Gunicorn instance to serve azurefiles
After=network.target

[Service]
User=azurefiles
Group=www-data
WorkingDirectory=/path/to/azure-web-app-vfs
Environment="PATH=/path/to/venv/bin"
# Flask Env Vars
Environment="SECRET_KEY="
Environment="SHARED_SECRET="
Environment="SQLALCHEMY_DATABASE_URI="
Environment="SITE_NAME="
Environment="SITE_URL="
Environment="SAML_SP="
Environment="COOKIE_ISSUING_FILE=/login"
Environment="LOGOUT_SCRIPT=/logout"
Environment="COOKIE_PREFIX=_wr_"
Environment="MEMCACHED_SERVER="
Environment="MEMCACHED_PORT=11211"
Environment="SERVICE_SLUG=webappvfs"
ExecStart=/path/to/venv/bin/gunicorn --workers 3 --bind unix:azurefiles.sock -m 007 --error-logfile /path/to/azure-web-app-vfs/log/gunicorn.log --log-level 'warn' wsgi:app

[Install]
WantedBy=multi-user.target